.login_body {
    padding-top: 20vh !important;
}
.login_form {
    width: 40vw;
    margin: auto !important;
    background-color: blanchedalmond;
    box-shadow: 5px 5px 5px #999;
    padding: 20px !important;
}
.submit_btn {
    text-align: center;
}
